// Place all the styles related to the Analyzer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.action { background-color: yellow; }
.comedy { background-color: pink; }
.adventure { background-color: orange; }
.thriller { background-color: deepSkyBlue; }
.mystery { background-color: gray; }
.drama { background-color: blue; color: white}
.crime { background-color: red; color: white}
.family { background-color: darkOrchid; }
.sport { background-color: black; color: white; }
.romance { background-color: deepPink; }
.history { background-color: olive;}
.biography { background-color: slateBlue;}
.sci-fi { background-color: gold;}
.fantasy { background-color: darkRed; color: white; }
.animation { background-color: aqua;}
.western { background-color: yellowGreen;}
.music { background-color: navy; color: white; }
.musical { background-color: purple; color: white; }
.war { background-color: darkSlateGray; color: white;}
.horror { background-color: burlyWood;}

.title { margin-bottom: -17px; }
