<html>
  <body>
    <h1>Check the recommendation</h1>
    <div>
    <form method="POST" action="/movie/check">
      User id: <input type="text" name="user_id" id="user_id" />
      <input type="submit" value="check" />
    </form>
  </div>
  </body>
</html>

